@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.login {
  position: relative;
  margin: auto;
  width: 400px;
  top: 200px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
}

.icon {
  font-size: 50px;
  color: #000000;
  transition: 0.2s ease-in;
}

.icon:hover {
  color: #585858;
}

.pads{
	padding: 5rem 3rem;
}

.color{
  color: red;
}

.homebox{
  position: relative;
  margin: auto;
  font-size: 20px;
  width: 30%;
  top: 200px;
  border-style: solid;
  border-radius: 10px;
  background: var(--foreground);
  padding: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .2);
  border: none;
}

.wOut{
  font-size: 50px;
}

.form-control{
  width: 280px;
}

.btn2{
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 20px;
  width: 40%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor:pointer;
  transition: all .3s;
  text-decoration: none;
  color: black;
  text-align: center;
}
.btn2:hover{
  background: #dde8ff;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  color: black;
}
.btn2:active {
  transform: translateY(-2px);
  transform: scale(.98);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  transition: all .1s;
  color: black;
}

.login-box{
  margin: auto;
  width: 500px;
  top:150px;
  position: relative;
  background: #9abcff;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .2);
  border-width: 10px;
  overflow: hidden;
}

.login-input {
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 15px;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.input-label{
  margin-bottom: 1%;
  font-size: 20px;
  padding-top: 10px;
}

.login-button{
  outline: none;
  margin-top:30px;
  background: rgb(255, 255, 255);
  font-size: 25px;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor:pointer;
  transition: all .3s;
}

.login-button:hover{
  background: #dde8ff;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

.login-button:active {
  transform: translateY(-2px);
  transform: scale(.98);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  transition: all .1s;
}

.rememberme{
  margin-top:30px;
}

.link{
  text-decoration: none;
  color: rgb(50, 36, 170);
}

.weather-input {
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 15px;
  width: 100%;
  border: none;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light: #9abcff;
  --dark: #353535;

  --foreground: var(--light);
  --background: var(--dark);
}

.darkmode {
  --light: #9abcff;
  --dark: #353535;

  --foreground: var(--dark);
  --background: var(--light);
}

.dark-mode-toggle{
  border:none;
  background-color:transparent;
  color: gray;
}