.test {
  color: red;
}

.login{
  position: relative;
  margin:auto;
  width: 400px;
  top: 200px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background: rgb(204, 204, 204);
  padding: 20px;
}