{% extends 'base.html'%} {% block content%}
<script>
  function add_field() {
    let total_text = document.getElementsByClassName("input_text");
    total_text = total_text.length + 1;
    field_div = document.getElementById("field_div");
    new_input = `<input type='text' class='form-control' name='input_text[]' id='input_text${total_text}' placeholder='Value: ex: ${Math.floor(Math.random() * 500)}'>`
    field_div.insertAdjacentHTML("beforeend", new_input);
  }
</script>
{% if paul %}
  {% if render_output %}
  <center>
  <div>
  <h1>Results (sorted values)</h1>
  <div>
  {{output}}
  </div>
  </ul>
  <a href="/paul_bubblesort">back</a>
  </div>
</center>
  {% else %}
  <center>
    <style>
input:not([type='button']):not([type="Submit"]) {
  width: 50%;
}
input:not([type='button']):not([type="Submit"]):not(:first-child) {
  margin-top: 1rem;
}
    </style>
  <div class="container" id="wrapper">
      <h3>
      Add <b>TEXT FIELDS</b> for each number or letter you want sorted then
      <b>CLICK</b> the <b style="color: red">SORT</b>
      </h3>
      <form action="/paul_bubblesort" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input class="btn btn-primary" type="button" value="Add TextBox" onclick="add_field();" />
          <span id="field_div"></span>
      <input class="btn btn-primary" type="submit" value="Sort" />
      </form>
  </div>
</center>
  {% endif %}
  {% elif template=="sam" %}
  <style>
    input:not(.final)::after {
      content: ",";
    }
    span:not(input) {
      position: relative;
      top: 4px;
      font-size: 33px;
    }
    .sam-box {
      position: relative;
      margin: auto;
      width: 400px;
      background-color: rgb(172, 172, 172);
      padding: 20px;
      border-radius: 20px;
      top: 200px;
      border-style: solid;
      text-align: center;
      padding-top: 30px;
      border: none;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    }
    .sam-input {
      border: none;
      border-radius: 5px;
      width: 30px;
      background: rgb(255, 255, 255);
    }
    .sam-submit{
      outline: none;
      background: rgb(255, 255, 255);
      font-size: 20px;
      width: 75%;
      border: none;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      cursor:pointer;
      transition: all .3s;
    }
    .sam-submit:hover{
      background: rgb(219, 219, 219);
      transform: translateY(-5px);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    }
    .sam-submit:active {
      transform: translateY(-2px);
      transform: scale(.98);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
      transition: all .1s;
    }
    h2 {
      font-size: 25px;
    }
  </style>
  <form method="POST" class="sam-box">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input class="sam-input" type="text" required name="input_text[]" placeholder="72" /> ,
    <input class="sam-input" type="text" required name="input_text[]" placeholder="64" /> ,
    <input class="sam-input" type="text" name="input_text[]" placeholder="3" /> ,
    <input class="sam-input" type="text" name="input_text[]" placeholder="14" /> ,
    <input class="sam-input" type="text" name="input_text[]" placeholder="98" /> ,
    <input class="sam-input" class="final" type="text" name="input_text[]" placeholder="21" />
    <br>
    <p></p>
    <input class="sam-submit" type="submit" value="Sort" />
    <p></p>
    <h2>Original: {{original}}</h2>
    <h2>Sorted: {{sorted}}</h2>
  </form>
{% elif template=="wesley" %}
<style>
  input:not(.final)::after {
    content: ",";
  }
  span:not(input) {
    position: relative;
    top: 4px;
    font-size: 33px;
  }

  .wes-box {
    position: relative;
      margin: auto;
      width: 400px;
      background-color: rgb(198, 206, 206);
      padding: 20px;
      border-radius: 20px;
      top: 200px;
      border-style: solid;
      text-align: center;
      padding-top: 30px;
      border: none;
    }
    .wes-input {
      border: none;
      border-radius: 5px;
      width: 30px;
      background: rgb(255, 255, 255);
    }
    .wes-submit {
      outline: none;
      background: rgb(91, 97, 102);
      font-size: 20px;
      width: 75%;
      border: none;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 1000000000000000000px;
      cursor:pointer;
      transition: all .3s;
      height: 75%;
    }
    .wes-submit:hover{
      transform: translateY(-5px);
      box-shadow: 0px 5px 10px rgba(114, 112, 112, 0.2);
      background:rgb(118, 172, 223);
    }
    .wes-submit:active {
      transform: translateY(-2px);
      transform: scale(.98);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
      transition: all .1s;
    }

</style>
<form method="POST" class="wes-box">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input class="wes-input" type="text" required name="input_text[]" placeholder="72" /> ,
  <input class="wes-input" type="text" required name="input_text[]" placeholder="64" /> ,
  <input class="wes-input" type="text" name="input_text[]" placeholder="3" /> ,
  <input class="wes-input" type="text" name="input_text[]" placeholder="14" /> ,
  <input class="wes-input" type="text" name="input_text[]" placeholder="98" /> ,
  <input class="wes-input" class="final" type="text" name="input_text[]" placeholder="21" />
  <br>
  <p></p>
  <input class="wes-submit" type="submit" value="Sort" />
  <p></p>
  <h2>Original: {{original}}</h2>
  <h2>Sorted: {{sorted}}</h2>
</form>
{% else %}
<style>
  input:not(:last-child) {
    width: 30px;
  }
  input:not(.final)::after {
    content: ",";
  }
  span:not(input) {
    position: relative;
    top: 4px;
    font-size: 33px;
  }
</style>
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <span>[</span>
  <input type="text" required name="input_text[]" placeholder="69" /> ,
  <input type="text" required name="input_text[]" placeholder="2" /> ,
  <input type="text" name="input_text[]" placeholder="23" /> ,
  <input type="text" name="input_text[]" placeholder="21" /> ,
  <input type="text" name="input_text[]" placeholder="85" /> ,
  <input class="final" type="text" name="input_text[]" placeholder="42" />
  <span>]</span>
  <input type="submit" value="Sort" />
</form>
<h2>Original: {{original}}</h2>
<h2>Sorted: {{sorted}}</h2>

{% endif %} {% endblock %}
