{% extends 'base.html' %} {% block content %}
  <div class="cr">
    <div class="cbox">
    <h1 class="h">
      Todos by user
      <a href="https://p2-anteaters-todos.netlify.app/">(P2Anteaters)</a>
    </h1>

    <h2 class="sh">Get a users todo</h2>

    <form action="{{ url_for('api.crossover') }}" method="POST">
      <input
        class="weather-input"
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
      />
      <select name="user">
        {% for user in u %}
        <option value="{{user.name}}">{{user.name}}</option>
        {% endfor %}
      </select>
      <input type="submit" />
    </form>
    </div>
  {% if r != none %}
  <div style="height:50px"></div>
  <div class="cbox">
  <div class="u">
    <h1 class="uh">Users todos</h1>
    <hr />
    {% for todo in r %}
    <div class="us">
      <div class="ici">
        <h2 class="ui">id: {{todo.id}}</h2>
        <div class="uc">
          {% if todo.completed == false %}
          <span class="stat i">Incomplete</span> {% else %}
          <span class="stat c">Completed</span> {% endif %}
        </div>
      </div>
      <h3 class="un">Name: {{todo.name}}</h3>
      <p class="ud">Description: {{todo.desc}}</p>
    </div>
    {% endfor %} 
  </div>
  </div>
  </div>
  {% endif %}
  
{% endblock content %}
