{% extends "base.html" %} {% block content %}

{% if record %}
<div class="login-box">
  <center><h1>Welcome, {{ name }}</h1>
  <a href="{{ url_for('auth.logout') }}">Logout</a></center>
  <h1>Your Ideal Weather:</h1>
  <p> </p>
  <p>{{condition}}</p>
  <p>{{temp}}</p>
  <p>{{desc}}</p>
  <p>{{date}}</p>
</div>
{% else %}
<div class="login-box">
  <h1>Welcome, {{ name }}</h1><a href="{{ url_for('auth.logout') }}">Logout</a>
  <h2>Whats your ideal weather?</h2>
  <form action="{{ url_for('auth.handle_data') }}" method="POST">
    <input class="weather-input" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <br><input
      type="text"
      name="condition"
      required
      placeholder="Condition (ex: sunny)"
      class="weather-input"
    />
    <br><input type="number" name="temp" required placeholder="Temp (ex: 73)" class="weather-input" />
    <br><input
      type="text"
      name="desc"
      required
      placeholder="Short Description (ex: sunny day with few clouds)"
      class="weather-input"
    />
    <br><input class="btn2" style="margin-top:10px;" type="submit" />
  </form>
</div>
{% endif %} {% endblock content %}
