{% extends 'base.html' %} {% block content %}
<form method="POST">
  <div class="input-group">
    <div class="form-outline">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <input
        type="search"
        id="form1"
        name="location"
        class="form-control"
        placeholder="Enter valid location"
      />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <td scope="col">{{name}}</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Time</th>
      <td>{{localtime}}</td>
    </tr>
    <tr>
      <th scope="row">Weather</th>
      <td>{{condition}}</td>
    </tr>
    <tr>
      <th scope="row">Temperature</th>
      <td colspan="2">{{tempF}}</td>
    </tr>
  </tbody>
</table>

<a href="/dashboard">Go make your ideal weather!</a>

{% endblock %}
