{% extends 'base.html' %} {% block content %}
<script>
  function add_field() {
    var total_text = document.getElementsByClassName("input_text");
    total_text = total_text.length + 1;
    field_div = document.getElementById("field_div");
    new_input = "<li id='input_text" + total_text + "_wrapper'>";
    new_input +=
      "<input type='text' class='input_text' name='input_text[]' id='input_text" +
      total_text +
      "' placeholder='Enter Text'>";
    new_input +=
      "<input type='checkbox' name='input_checkbox' value='" +
      total_text +
      "' id='input_checkbox" +
      total_text +
      "'";
    new_input += "</li>";
    field_div.insertAdjacentHTML("beforeend", new_input);
  }
  function remove_field() {
    var total_text = document.getElementsByClassName("input_text");
    document
      .getElementById("input_text" + total_text.length + "_wrapper")
      .remove();
  }
</script>
<center>
  <div style="margin-top: 15%">
    <h1>Hello my name is: {{name}}</h1>
    <h2>My favorite language is: {{lang}}</h2>
    <p>A little bit about me: {{desc}}</p>
    <a class="icon" href="{{github}}"><i class="fab fa-github"></i></a>
  </div>
  <div class="container">
    <h1>Add field and input numbers or letters to sort</h1>
    <form action="/paul" method="post">
      <div id="wrapper">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <input type="button" value="Add TextBox" onclick="add_field();" />
        <input type="button" value="Remove TextBox" onclick="remove_field();" />
        <ol id="field_div"></ol>
      </div>
      <input type="submit" value="Sort" />
    </form>
  </div>
  </ul>
</center>

{% endblock %}
