{% extends "base.html" %} {% block content %}
<div style="padding: 2rem 5rem;">
<form method="POST" class="row g-3" action="/login">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <p>Not Registered?<a href="signup"> Create an account.</a></p>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>
{% endblock content %}
