{% extends "base.html" %} {% block content %}
<form method="POST" action="signup" class="login-box">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <h1 style="margin-top: 0%;">Sign Up</h1>
  <p class="input-label">Username</p>
  <input class="login-input" type="text" id="username" name="username" required>
  <p class="input-label">Password</p>
  <input class="login-input" type="password" id="password" name="password" required>
  <p class="input-label">Email</p>
  <input class="login-input" type="email" id="email" name="email" required>
  <p style="padding-top: 10px;">Already have an account? <a class="link" href="login">Sign in here.</a></p>
  <button type="submit" class="login-button">Sign Up</button>
</form>
{% endblock content %}

