{% extends "base.html" %} {% block content %}
<div style="padding: 2rem 5rem;">
<form method="POST" action="signup">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <p>Already have an account?<a href="login"> Login.</a></p>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>
{% endblock content %}


